
.container{
max-width: 960px;
margin: 30px auto;
}
.box{
    background: #f4f4f4;
    border:1px solid #333;
    padding: 20px;
    margin-bottom: 10px;
}
*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4em;
}
.box p{
    text-align: center;
}
#box-2{
    float:left;
    width:68%;
}
#box-3{
    float:right;
    width:30%;
}
.clr{
    clear:both;
}
a{
    color:black;
    text-decoration: none;
}
a:hover{
    color:coral;
}
a:active{
    color:red;
}
a:visted{
    color:green;
}
.btn{
    background-color: navy;
    padding:20px;
    border-radius: 30px;
    color:white;
    font-size: larger;
    border-color: bisque;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}
.btn:hover{
color:red;
}
.btn:active{
    color:yellow;
}
.btn:visted{
    color:green;
}
.what{
    padding:10px;
    border-radius: 30px;
    color:white;
    font-size: larger;
    border-color: bisque;
    background-color: navy;
margin-bottom: 20px;
padding-bottom: 30px;
margin-top: 90px;

}
